[Unit]
Description=2chproxy
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
User=%I
ExecStart=/usr/local/bin/2chproxy --config /home/%I/.2chproxy.yml
ExecStop=/usr/local/bin/2chproxy --kill
WorkingDirectory=/home/%I/
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
